.footer .footer-bottom {
  background: #202020;
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;
  width: 100%;
}

.footer .footer-bottom ul li a {
  line-height: 30px;
  color: #fff;
  position: relative;
  margin-left: 23px;
  display: block;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer-title {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.footer-title a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .footer .footer-bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .footer .footer-bottom ul li a {
    margin-left: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }
}